/*scss*/
input[type="checkbox"] {
  width: 20px;
  height: 20px; }

body {
  background-color: lightgray;
  margin: 0px 0px;
  padding: 0px 0px; }

div {
  float: left;
  box-sizing: border-box; }

label {
  font-size: 20px;
  margin-left: 20px; }

.tl {
  text-align: left; }

.tr {
  text-align: right; }

.tc {
  text-align: center; }

.type {
  background-color: darkgrey; }

.errors {
  color: red;
  font-size: 20px;
  margin-left: 20px;
  margin-top: 0px;
  margin-bottom: 0px; }

button {
  width: 150px;
  height: 50px;
  font-size: 24px;
  margin-top: 10px; }

.container {
  width: 100%; }

.col-1 {
  max-width: 8.333%; }

.col-2 {
  max-width: 16.666%; }

.col-3 {
  max-width: 24.999%; }

.col-4 {
  max-width: 33.332%; }

.col-5 {
  max-width: 41.665%; }

.col-6 {
  max-width: 49.998%; }

.col-7 {
  max-width: 58.331%; }

.col-8 {
  max-width: 66.664%; }

.col-9 {
  max-width: 74.997%; }

.col-10 {
  max-width: 83.33%; }

.col-11 {
  max-width: 91.663%; }

.col-12 {
  max-width: 99.996%; }

.listcom {
  background-color: darkgrey;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 4.16%;
  margin-right: 4.16%;
  border: 1px solid black; }

div[class*='col'] {
  width: 99.996%; }

@media (min-width: 576px) {
  .col-sm-1 {
    max-width: 8.333%; }

  .col-sm-2 {
    max-width: 16.666%; }

  .col-sm-3 {
    max-width: 24.999%; }

  .col-sm-4 {
    max-width: 33.332%; }

  .col-sm-5 {
    max-width: 41.665%; }

  .col-sm-6 {
    max-width: 49.998%; }

  .col-sm-7 {
    max-width: 58.331%; }

  .col-sm-8 {
    max-width: 66.664%; }

  .col-sm-9 {
    max-width: 74.997%; }

  .col-sm-10 {
    max-width: 83.33%; }

  .col-sm-11 {
    max-width: 91.663%; }

  .col-sm-12 {
    max-width: 99.996%; }

  .listcom {
    background-color: darkgrey;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 4.16%;
    margin-right: 4.16%;
    border: 1px solid black; } }
@media (min-width: 768px) {
  .col-md-1 {
    max-width: 8.333%; }

  .col-md-2 {
    max-width: 16.666%; }

  .col-md-3 {
    max-width: 24.999%; }

  .col-md-4 {
    max-width: 33.332%; }

  .col-md-5 {
    max-width: 41.665%; }

  .col-md-6 {
    max-width: 49.998%; }

  .col-md-7 {
    max-width: 58.331%; }

  .col-md-8 {
    max-width: 66.664%; }

  .col-md-9 {
    max-width: 74.997%; }

  .col-md-10 {
    max-width: 83.33%; }

  .col-md-11 {
    max-width: 91.663%; }

  .col-md-12 {
    max-width: 99.996%; }

  .listcom {
    background-color: darkgrey;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 4.16%;
    margin-right: 4.16%;
    border: 1px solid black; } }
@media (min-width: 992px) {
  .col-lg-1 {
    max-width: 8.333%; }

  .col-lg-2 {
    max-width: 16.666%; }

  .col-lg-3 {
    max-width: 24.999%; }

  .col-lg-4 {
    max-width: 33.332%; }

  .col-lg-5 {
    max-width: 41.665%; }

  .col-lg-6 {
    max-width: 49.998%; }

  .col-lg-7 {
    max-width: 58.331%; }

  .col-lg-8 {
    max-width: 66.664%; }

  .col-lg-9 {
    max-width: 74.997%; }

  .col-lg-10 {
    max-width: 83.33%; }

  .col-lg-11 {
    max-width: 91.663%; }

  .col-lg-12 {
    max-width: 99.996%; }

  .listcom {
    background-color: darkgrey;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 4.16%;
    margin-right: 4.16%;
    border: 1px solid black; } }

/*# sourceMappingURL=custom.css.map */
