/*scss*/
$c1 : 8.333%;
$c2 : $c1*2;
$c3 : $c1*3;
$c4 : $c1*4;
$c5 : $c1*5;
$c6 : $c1*6;
$c7 : $c1*7;
$c8 : $c1*8;
$c9 : $c1*9;
$c10 : $c1*10;
$c11 : $c1*11;
$c12 : $c1*12;

input[type="checkbox"] {
		width: 20px;
		height: 20px;
	}
body{
	background-color: lightgray;
	margin: 0px 0px;
	padding: 0px 0px;
}
div{
	float: left;
	box-sizing: border-box;
}
label{
	font-size: 20px;
	margin-left: 20px;
}
.tl{
	text-align: left;
}
.tr{
	text-align: right;
}
.tc{
	text-align: center;
}
.type{
	background-color: darkgrey;
}
.errors{
	color: red;
	font-size: 20px;
	margin-left: 20px;
	margin-top: 0px;
	margin-bottom: 0px;

}
button{
	width: 150px;
	height: 50px;
	font-size: 24px;
	margin-top: 10px;

}
.container {
 	width: 100%;
}

.col-1{
	max-width: $c1;
 }
 .col-2{
	max-width: $c2;
 }
 .col-3{
	max-width: $c3;
 }
 .col-4{
	max-width: $c4;
 }
 .col-5{
	max-width: $c5;
 }
 .col-6{
	max-width: $c6;
 }
 .col-7{
	max-width: $c7;
 }
  .col-8{
	max-width: $c8;
 }
 .col-9{
	max-width: $c9;
 }
 .col-10{
	max-width: $c10;
 }
 .col-11{
	max-width: $c11;
 }
 .col-12{
	max-width: $c12;
 }
 .listcom{
	background-color: darkgrey;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: 4.16%;
	margin-right: 4.16%;
	border: 1px solid black;
   }
 div[class*='col']{
	width: $c12;
 }
@media (min-width: 576px) {
  .col-sm-1{
	max-width: $c1;
  }
  .col-sm-2{
	max-width: $c2;
  }
  .col-sm-3{
	max-width: $c3;
  }
  .col-sm-4{
	max-width: $c4;
  }
  .col-sm-5{
	max-width: $c5;
  }
  .col-sm-6{
	max-width: $c6;
  }
  .col-sm-7{
	max-width: $c7;
  }
  .col-sm-8{
	max-width: $c8;
  }
  .col-sm-9{
	max-width: $c9;
  }
  .col-sm-10{
	max-width: $c10;
  }
  .col-sm-11{
	max-width: $c11;
  }
  .col-sm-12{
	max-width: $c12;
  }
  .listcom{
	background-color: darkgrey;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: 4.16%;
	margin-right: 4.16%;
	border: 1px solid black;
   }
}

@media (min-width: 768px) {
  .col-md-1{
	max-width: $c1;
  }
  .col-md-2{
	max-width: $c2;
  }
  .col-md-3{
	max-width: $c3;
  }
  .col-md-4{
	max-width: $c4;
  }
  .col-md-5{
	max-width: $c5;
  }
  .col-md-6{
	max-width: $c6;
  }
  .col-md-7{
	max-width: $c7;
  }
  .col-md-8{
	max-width: $c8;
  }
  .col-md-9{
	max-width: $c9;
  }
  .col-md-10{
	max-width: $c10;
  }
  .col-md-11{
	max-width: $c11;
  }
  .col-md-12{
	max-width: $c12;
  }
  .listcom{
	background-color: darkgrey;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: 4.16%;
	margin-right: 4.16%;
	border: 1px solid black;
   }
}

@media (min-width: 992px) {
  .col-lg-1{
	max-width: $c1;
  }
  .col-lg-2{
	max-width: $c2;
  }
  .col-lg-3{
	max-width: $c3;
  }
  .col-lg-4{
	max-width: $c4;
  }
  .col-lg-5{
	max-width: $c5;
  }
  .col-lg-6{
	max-width: $c6;
  }
  .col-lg-7{
	max-width: $c7;
  }
  .col-lg-8{
	max-width: $c8;
  }
  .col-lg-9{
	max-width: $c9;
  }
  .col-lg-10{
	max-width: $c10;
  }
  .col-lg-11{
	max-width: $c11;
  }
  .col-lg-12{
	max-width: $c12;
  }
  .listcom{
	background-color: darkgrey;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: 4.16%;
	margin-right: 4.16%;
	border: 1px solid black;
   }
}

